@model BarberSOnline.Models.AppointmentModel

@{
    ViewData["Title"] = "BarberServe";
    Layout = "~/Views/Shared/_LayoutBarber.cshtml";
}

<br />
<center><h1>Serving Information</h1></center>
<br />

<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<div class="form-gap"></div>
<div class="container" style="margin-bottom: 100px">
    <div class="row">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-4">
            <div class="card" style="width:550px">
                <div class="panel-body">
                    <div class="card-body">

                        <form asp-action="BarberServe">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group" hidden>
                                <label asp-for="ID" class="control-label"></label>
                                <input asp-for="ID" class="form-control" />
                                <span asp-validation-for="ID" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="UserEmail" class="control-label"></label>
                                <input asp-for="UserEmail" class="form-control" />
                                <span asp-validation-for="UserEmail" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Type" class="control-label"></label><br />
                                @if (Model.Type == "On-site Service")
                                {
                                    <input checked="checked" id="Type" name="Type" type="radio" value="On-site Service" /><label>On-site Service</label>
                                    <input id="Type" name="Type" type="radio" value="Shop Service" /><label>Shop Service</label>
                                }
                                else
                                {
                                    <input id="Type" name="Type" type="radio" value="On-site Service" /><label>On-site Service</label>
                                    <input checked="checked" id="Type" name="Type" type="radio" value="Shop Service" /><label>Shop Service</label>
                                }
                                <span asp-validation-for="Type" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Services</label>
                                <select class="form-control" id="Services_Dropdown">
                                    @if (Model.Services != null)
                                    {
                                        string[] cumulative_services = @Model.Services.Split(", ");

                                        if (cumulative_services[0] == "Women's Haircut")
                                        {
                                            <option value="Women's Haircut" selected>Women's Haircut</option>
                                            <option value="Men's Haircut">Men's Haircut</option>
                                            <option value="Children's Haircut">Children's Haircut</option>
                                            <option value="Women's Haircut & Wash">Women's Haircut & Wash</option>
                                            <option value="Men's Haircut & Wash">Men's Haircut & Wash</option>
                                            <option value="Others">Others</option>
                                        }
                                        else if (cumulative_services[0] == "Men's Haircut")
                                        {
                                            <option value="Women's Haircut">Women's Haircut</option>
                                            <option value="Men's Haircut" selected>Men's Haircut</option>
                                            <option value="Children's Haircut">Children's Haircut</option>
                                            <option value="Women's Haircut & Wash">Women's Haircut & Wash</option>
                                            <option value="Men's Haircut & Wash">Men's Haircut & Wash</option>
                                            <option value="Others">Others</option>
                                        }
                                        else if (cumulative_services[0] == "Children's Haircut")
                                        {
                                            <option value="Women's Haircut">Women's Haircut</option>
                                            <option value="Men's Haircut">Men's Haircut</option>
                                            <option value="Children's Haircut" selected>Children's Haircut</option>
                                            <option value="Women's Haircut & Wash">Women's Haircut & Wash</option>
                                            <option value="Men's Haircut & Wash">Men's Haircut & Wash</option>
                                            <option value="Others">Others</option>
                                        }
                                        else if (cumulative_services[0] == "Women's Haircut & Wash")
                                        {
                                            <option value="Women's Haircut">Women's Haircut</option>
                                            <option value="Men's Haircut">Men's Haircut</option>
                                            <option value="Children's Haircut">Children's Haircut</option>
                                            <option value="Women's Haircut & Wash" selected>Women's Haircut & Wash</option>
                                            <option value="Men's Haircut & Wash">Men's Haircut & Wash</option>
                                            <option value="Others">Others</option>
                                        }
                                        else if (cumulative_services[0] == "Men's Haircut & Wash")
                                        {
                                            <option value="Women's Haircut">Women's Haircut</option>
                                            <option value="Men's Haircut">Men's Haircut</option>
                                            <option value="Children's Haircut">Children's Haircut</option>
                                            <option value="Women's Haircut & Wash">Women's Haircut & Wash</option>
                                            <option value="Men's Haircut & Wash" selected>Men's Haircut & Wash</option>
                                            <option value="Others">Others</option>
                                        }
                                        else if (cumulative_services[0] == "Others")
                                        {

                                            <option value="Women's Haircut">Women's Haircut</option>
                                            <option value="Men's Haircut">Men's Haircut</option>
                                            <option value="Children's Haircut">Children's Haircut</option>
                                            <option value="Women's Haircut & Wash">Women's Haircut & Wash</option>
                                            <option value="Men's Haircut & Wash">Men's Haircut & Wash</option>
                                            <option value="Others" selected>Others</option>

                                        }
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Additional Services</label><br />
                                @if (Model.Services != null)
                                {
                                    if (Model.Services.Contains("Colour Dying"))
                                    {
                                        <input type="checkbox" checked name="CheckBox1" value="Colour Dying" style="margin-left:5px;" onclick="javascript:CalculateColour(this)" /><label style="margin-left:3px;">Colour Dying</label>
                                        if (Model.Services.Contains("Rebonding"))
                                        {
                                            <input type="checkbox" checked name="CheckBox2" value="Rebonding" style="margin-left:5px;" onclick="javascript:CalculateRebonding(this)" /><label style="margin-left:3px;">Rebonding</label>
                                        }
                                        else
                                        {
                                            <input type="checkbox" name="CheckBox2" value="Rebonding" style="margin-left:5px;" onclick="javascript:CalculateRebonding(this)" /><label style="margin-left:3px;">Rebonding</label>
                                        }
                                        <br />
                                        if (Model.Services.Contains("Scalp Treatment"))
                                        {
                                            <input type="checkbox" checked name="CheckBox3" value="Scalp Treatment" style="margin-left:5px;" onclick="javascript:CalculateScalp(this)" /><label style="margin-left:3px;">Scalp Treatment</label>
                                        }
                                        else
                                        {
                                            <input type="checkbox" name="CheckBox3" value="Scalp Treatment" style="margin-left:5px;" onclick="javascript:CalculateScalp(this)" /><label style="margin-left:3px;">Scalp Treatment</label>
                                        }

                                        if (Model.Services.Contains("Styling"))
                                        {
                                            <input type="checkbox" checked name="CheckBox4" value="Styling" style="margin-left:5px;" onclick="javascript:CalculateStyling(this)" /><label style="margin-left:3px;">Styling</label>
                                        }
                                        else
                                        {
                                            <input type="checkbox" name="CheckBox4" value="Styling" style="margin-left:5px;" onclick="javascript:CalculateStyling(this)" /><label style="margin-left:3px;">Styling</label>
                                        }

                                        if (Model.Services.Contains("Perm"))
                                        {
                                            <input type="checkbox" checked name="CheckBox5" value="Perm" style="margin-left:5px;" onclick="javascript:CalculatePerm(this)" /><label style="margin-left:3px;">Perm</label>
                                        }
                                        else
                                        {
                                            <input type="checkbox" name="CheckBox5" value="Perm" style="margin-left:5px;" onclick="javascript:CalculatePerm(this)" /><label style="margin-left:3px;">Perm</label>
                                        }
                                    }
                                    else if (Model.Services.Contains("Rebonding"))
                                    {
                                        if (Model.Services.Contains("Colour Dying"))
                                        {
                                            <input type="checkbox" checked name="CheckBox1" value="Colour Dying" style="margin-left:5px;" onclick="javascript:CalculateColour(this)" /><label style="margin-left:3px;">Colour Dying</label>
                                        }
                                        else
                                        {
                                            <input type="checkbox" name="CheckBox1" value="Colour Dying" style="margin-left:5px;" onclick="javascript:CalculateColour(this)" /><label style="margin-left:3px;">Colour Dying</label>
                                        }
                                        <input type="checkbox" checked name="CheckBox2" value="Rebonding" style="margin-left:5px;" onclick="javascript:CalculateRebonding(this)" /><label style="margin-left:3px;">Rebonding</label>
                                        <br />
                                        if (Model.Services.Contains("Scalp Treatment"))
                                        {
                                            <input type="checkbox" checked name="CheckBox3" value="Scalp Treatment" style="margin-left:5px;" onclick="javascript:CalculateScalp(this)" /><label style="margin-left:3px;">Scalp Treatment</label>
                                        }
                                        else
                                        {
                                            <input type="checkbox" name="CheckBox3" value="Scalp Treatment" style="margin-left:5px;" onclick="javascript:CalculateScalp(this)" /><label style="margin-left:3px;">Scalp Treatment</label>
                                        }

                                        if (Model.Services.Contains("Styling"))
                                        {
                                            <input type="checkbox" checked name="CheckBox4" value="Styling" style="margin-left:5px;" onclick="javascript:CalculateStyling(this)" /><label style="margin-left:3px;">Styling</label>
                                        }
                                        else
                                        {
                                            <input type="checkbox" name="CheckBox4" value="Styling" style="margin-left:5px;" onclick="javascript:CalculateStyling(this)" /><label style="margin-left:3px;">Styling</label>
                                        }

                                        if (Model.Services.Contains("Perm"))
                                        {
                                            <input type="checkbox" checked name="CheckBox5" value="Perm" style="margin-left:5px;" onclick="javascript:CalculatePerm(this)" /><label style="margin-left:3px;">Perm</label>
                                        }
                                        else
                                        {
                                            <input type="checkbox" name="CheckBox5" value="Perm" style="margin-left:5px;" onclick="javascript:CalculatePerm(this)" /><label style="margin-left:3px;">Perm</label>
                                        }
                                    }
                                    else if (Model.Services.Contains("Scalp Treatment"))
                                    {
                                        if (Model.Services.Contains("Colour Dying"))
                                        {
                                            <input type="checkbox" checked name="CheckBox1" value="Colour Dying" style="margin-left:5px;" onclick="javascript:CalculateColour(this)" /><label style="margin-left:3px;">Colour Dying</label>
                                        }
                                        else
                                        {
                                            <input type="checkbox" name="CheckBox1" value="Colour Dying" style="margin-left:5px;" onclick="javascript:CalculateColour(this)" /><label style="margin-left:3px;">Colour Dying</label>
                                        }

                                        if (Model.Services.Contains("Rebonding"))
                                        {
                                            <input type="checkbox" checked name="CheckBox2" value="Rebonding" style="margin-left:5px;" onclick="javascript:CalculateRebonding(this)" /><label style="margin-left:3px;">Rebonding</label>
                                        }
                                        else
                                        {
                                            <input type="checkbox" name="CheckBox2" value="Rebonding" style="margin-left:5px;" onclick="javascript:CalculateRebonding(this)" /><label style="margin-left:3px;">Rebonding</label>
                                        }
                                        <br />
                                        <input type="checkbox" checked name="CheckBox3" value="Scalp Treatment" style="margin-left:5px;" onclick="javascript:CalculateScalp(this)" /><label style="margin-left:3px;">Scalp Treatment</label>
                                        if (Model.Services.Contains("Styling"))
                                        {
                                            <input type="checkbox" checked name="CheckBox4" value="Styling" style="margin-left:5px;" onclick="javascript:CalculateStyling(this)" /><label style="margin-left:3px;">Styling</label>
                                        }
                                        else
                                        {
                                            <input type="checkbox" name="CheckBox4" value="Styling" style="margin-left:5px;" onclick="javascript:CalculateStyling(this)" /><label style="margin-left:3px;">Styling</label>
                                        }

                                        if (Model.Services.Contains("Perm"))
                                        {
                                            <input type="checkbox" checked name="CheckBox5" value="Perm" style="margin-left:5px;" onclick="javascript:CalculatePerm(this)" /><label style="margin-left:3px;">Perm</label>
                                        }
                                        else
                                        {
                                            <input type="checkbox" name="CheckBox5" value="Perm" style="margin-left:5px;" onclick="javascript:CalculatePerm(this)" /><label style="margin-left:3px;">Perm</label>
                                        }
                                    }
                                    else if (Model.Services.Contains("Styling"))
                                    {
                                        if (Model.Services.Contains("Colour Dying"))
                                        {
                                            <input type="checkbox" checked name="CheckBox1" value="Colour Dying" style="margin-left:5px;" onclick="javascript:CalculateColour(this)" /><label style="margin-left:3px;">Colour Dying</label>
                                        }
                                        else
                                        {
                                            <input type="checkbox" name="CheckBox1" value="Colour Dying" style="margin-left:5px;" onclick="javascript:CalculateColour(this)" /><label style="margin-left:3px;">Colour Dying</label>
                                        }

                                        if (Model.Services.Contains("Rebonding"))
                                        {
                                            <input type="checkbox" checked name="CheckBox2" value="Rebonding" style="margin-left:5px;" onclick="javascript:CalculateRebonding(this)" /><label style="margin-left:3px;">Rebonding</label>
                                        }
                                        else
                                        {
                                            <input type="checkbox" name="CheckBox2" value="Rebonding" style="margin-left:5px;" onclick="javascript:CalculateRebonding(this)" /><label style="margin-left:3px;">Rebonding</label>
                                        }
                                        <br />
                                        if (Model.Services.Contains("Scalp Treatment"))
                                        {
                                            <input type="checkbox" checked name="CheckBox3" value="Scalp Treatment" style="margin-left:5px;" onclick="javascript:CalculateScalp(this)" /><label style="margin-left:3px;">Scalp Treatment</label>
                                        }
                                        else
                                        {
                                            <input type="checkbox" name="CheckBox3" value="Scalp Treatment" style="margin-left:5px;" onclick="javascript:CalculateScalp(this)" /><label style="margin-left:3px;">Scalp Treatment</label>
                                        }
                                        <input type="checkbox" checked name="CheckBox4" value="Styling" style="margin-left:5px;" onclick="javascript:CalculateStyling(this)" /><label style="margin-left:3px;">Styling</label>
                                        if (Model.Services.Contains("Perm"))
                                        {
                                            <input type="checkbox" checked name="CheckBox5" value="Perm" style="margin-left:5px;" onclick="javascript:CalculatePerm(this)" /><label style="margin-left:3px;">Perm</label>
                                        }
                                        else
                                        {
                                            <input type="checkbox" name="CheckBox5" value="Perm" style="margin-left:5px;" onclick="javascript:CalculatePerm(this)" /><label style="margin-left:3px;">Perm</label>
                                        }
                                    }
                                    else if (Model.Services.Contains("Perm"))
                                    {
                                        if (Model.Services.Contains("Colour Dying"))
                                        {
                                            <input type="checkbox" checked name="CheckBox1" value="Colour Dying" style="margin-left:5px;" onclick="javascript:CalculateColour(this)" /><label style="margin-left:3px;">Colour Dying</label>
                                        }
                                        else
                                        {
                                            <input type="checkbox" name="CheckBox1" value="Colour Dying" style="margin-left:5px;" onclick="javascript:CalculateColour(this)" /><label style="margin-left:3px;">Colour Dying</label>
                                        }

                                        if (Model.Services.Contains("Rebonding"))
                                        {
                                            <input type="checkbox" checked name="CheckBox2" value="Rebonding" style="margin-left:5px;" onclick="javascript:CalculateRebonding(this)" /><label style="margin-left:3px;">Rebonding</label>
                                        }
                                        else
                                        {
                                            <input type="checkbox" name="CheckBox2" value="Rebonding" style="margin-left:5px;" onclick="javascript:CalculateRebonding(this)" /><label style="margin-left:3px;">Rebonding</label>
                                        }
                                        <br />
                                        if (Model.Services.Contains("Scalp Treatment"))
                                        {
                                            <input type="checkbox" checked name="CheckBox3" value="Scalp Treatment" style="margin-left:5px;" onclick="javascript:CalculateScalp(this)" /><label style="margin-left:3px;">Scalp Treatment</label>
                                        }
                                        else
                                        {
                                            <input type="checkbox" name="CheckBox3" value="Scalp Treatment" style="margin-left:5px;" onclick="javascript:CalculateScalp(this)" /><label style="margin-left:3px;">Scalp Treatment</label>
                                        }

                                        if (Model.Services.Contains("Styling"))
                                        {
                                            <input type="checkbox" checked name="CheckBox4" value="Styling" style="margin-left:5px;" onclick="javascript:CalculateStyling(this)" /><label style="margin-left:3px;">Styling</label>
                                        }
                                        else
                                        {
                                            <input type="checkbox" name="CheckBox4" value="Styling" style="margin-left:5px;" onclick="javascript:CalculateStyling(this)" /><label style="margin-left:3px;">Styling</label>
                                        }
                                        <input type="checkbox" checked name="CheckBox5" value="Perm" style="margin-left:5px;" onclick="javascript:CalculatePerm(this)" /><label style="margin-left:3px;">Perm</label>
                                    }
                                    else
                                    {
                                        <input type="checkbox" name="CheckBox1" value="Colour Dying" style="margin-left:5px;" onclick="javascript:CalculateColour(this)" /><label style="margin-left:3px;">Colour Dying</label>
                                        <input type="checkbox" name="CheckBox2" value="Rebonding" style="margin-left:5px;" onclick="javascript:CalculateRebonding(this)" /><label style="margin-left:3px;">Rebonding</label>
                                        <br />
                                        <input type="checkbox" name="CheckBox3" value="Scalp Treatment" style="margin-left:5px;" onclick="javascript:CalculateScalp(this)" /><label style="margin-left:3px;">Scalp Treatment</label>
                                        <input type="checkbox" name="CheckBox4" value="Styling" style="margin-left:5px;" onclick="javascript:CalculateStyling(this)" /><label style="margin-left:3px;">Styling</label>
                                        <input type="checkbox" name="CheckBox5" value="Perm" style="margin-left:5px;" onclick="javascript:CalculatePerm(this)" /><label style="margin-left:3px;">Perm</label>
                                    }
                                }
                            </div>
                            <div class="form-group">
                                <input asp-for="Services" id="Services" class="form-control" hidden />
                                <span asp-validation-for="Services" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Charges" class="control-label">Charges(RM)</label>
                                <input asp-for="Charges" class="form-control" readonly />
                                <span asp-validation-for="Charges" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Appointment_Date" class="control-label"></label>
                                <input asp-for="Appointment_Date" class="form-control" readonly />
                                <span asp-validation-for="Appointment_Date" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Appointment_Status" class="control-label"></label>
                                <input asp-for="Appointment_Status" class="form-control" readonly />
                                <span asp-validation-for="Appointment_Status" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Remark" class="control-label"></label>
                                <input asp-for="Remark" class="form-control" />
                                <span asp-validation-for="Remark" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="User_Booked_Date" class="control-label"></label>
                                <input asp-for="User_Booked_Date" class="form-control" readonly />
                                <span asp-validation-for="User_Booked_Date" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="User_Confirmed_Date" class="control-label"></label>
                                <input asp-for="User_Confirmed_Date" class="form-control" readonly />
                                <span asp-validation-for="User_Confirmed_Date" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Barber_Approved_Date" class="control-label"></label>
                                <input asp-for="Barber_Approved_Date" class="form-control" readonly />
                                <span asp-validation-for="Barber_Approved_Date" class="text-danger"></span>
                            </div>
                            <div class="form-group" hidden>
                                <label asp-for="Barber_Check_In_Date" class="control-label"></label>
                                <input asp-for="Barber_Check_In_Date" class="form-control" />
                                <span asp-validation-for="Barber_Check_In_Date" class="text-danger"></span>
                            </div>
                            <div class="form-group" hidden>
                                <label asp-for="BarberEmail" class="control-label"></label>
                                <input asp-for="BarberEmail" class="form-control" />
                                <span asp-validation-for="BarberEmail" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Save" class="btn btn-primary" onclick="ConcatenateServices()" />
                                <a asp-action="ViewAll" class="btn btn-primary">Back to List</a>
                            </div>
                        </form>
                        <div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
            var Services_Dropdown = document.getElementById("Services_Dropdown");
            var Services_Display = document.getElementById("Services");
            var Services_Charges = document.getElementById("Charges");

            var charges = @Model.Charges;
            var previous_selection = Services_Dropdown.value;
            var cumulative_services = null;
            var services_colouring = false;
            var services_rebonding = false;
            var services_scalp = false;
            var services_styling = false;
            var services_perm = false;

            @if(Model.Services != null)
            {
                string[] cumulative_services = @Model.Services.Split(", ");
                cumulative_services = cumulative_services.Skip(1).ToArray();
                if (cumulative_services != null)
                {
                    if (cumulative_services.Contains("Colour Dying"))
                    {
                        <text>services_colouring = true;</text>
                    }
                    if (cumulative_services.Contains("Rebonding"))
                    {
                        <text>services_rebonding = true;</text>
                    }
                    if (cumulative_services.Contains("Scalp Treatment"))
                    {
                        <text>services_scalp = true;</text>
                    }
                    if (cumulative_services.Contains("Styling"))
                    {
                        <text>services_styling = true;</text>
                    }
                    if (cumulative_services.Contains("Perm"))
                    {
                        <text>services_perm = true;</text>
                    }
                }
            }

            function ConcatenateServices() {
                cumulative_services = Services_Dropdown.value;

                if (services_colouring == true) {
                    cumulative_services = cumulative_services + ", Colour Dying";
                }

                if (services_rebonding == true) {
                    cumulative_services = cumulative_services + ", Rebonding";
                }

                if (services_scalp == true) {
                    cumulative_services = cumulative_services + ", Scalp Treatment";
                }

                if (services_styling == true) {
                    cumulative_services = cumulative_services + ", Styling";
                }

                if (services_perm == true) {
                    cumulative_services = cumulative_services + ", Perm";
                }
                Services_Display.value = cumulative_services;
            }

            Services_Dropdown.addEventListener("change", function () {
                if (previous_selection == "Women's Haircut" || previous_selection == "Men's Haircut & Wash") {
                    if (Services_Dropdown.value == "Women's Haircut" || Services_Dropdown.value == "Men's Haircut & Wash") {
                        charges = charges;//30-30
                    }
                    else if (Services_Dropdown.value == "Men's Haircut" || Services_Dropdown.value == "Children's Haircut") {
                        charges = charges - 15.00;//15-30
                    }
                    else if (Services_Dropdown.value == "Women's Haircut & Wash") {
                        charges = charges + 15.00;//45-30
                    }
                    else {
                        charges = charges - 30.00;//0-30
                    }
                }
                else if (previous_selection == "Men's Haircut" || previous_selection == "Children's Haircut") {
                    if (Services_Dropdown.value == "Women's Haircut" || Services_Dropdown.value == "Men's Haircut & Wash") {
                        charges = charges + 15.00;//30-15
                    }
                    else if (Services_Dropdown.value == "Men's Haircut" || Services_Dropdown.value == "Children's Haircut") {
                        charges = charges;//15-15
                    }
                    else if (Services_Dropdown.value == "Women's Haircut & Wash") {
                        charges = charges + 30.00;//45-15
                    }
                    else {
                        charges = charges - 15.00;//0-15
                    }
                }
                else if (previous_selection == "Women's Haircut & Wash") {
                    if (Services_Dropdown.value == "Women's Haircut" || Services_Dropdown.value == "Men's Haircut & Wash") {
                        charges = charges - 15.00;//30-45
                    }
                    else if (Services_Dropdown.value == "Men's Haircut" || Services_Dropdown.value == "Children's Haircut") {
                        charges = charges - 30.00;//15-45
                    }
                    else if (Services_Dropdown.value == "Women's Haircut & Wash") {
                        charges = charges;//45-45
                    }
                    else {
                        charges = charges - 45.00;//0-45
                    }
                }
                else//others
                {
                    if (Services_Dropdown.value == "Women's Haircut" || Services_Dropdown.value == "Men's Haircut & Wash") {
                        charges = charges + 30.00;//30-0
                    }
                    else if (Services_Dropdown.value == "Men's Haircut" || Services_Dropdown.value == "Children's Haircut") {
                        charges = charges + 15.00;//15-0
                    }
                    else if (Services_Dropdown.value == "Women's Haircut & Wash") {
                        charges = charges + 45.00;//45-0
                    }
                    else {
                        charges = charges;//0-0
                    }
                }
                previous_selection = Services_Dropdown.value;
                Services_Charges.value = charges.toFixed(2);
            });

            function CalculateColour(obj) {
                if (obj.checked) {
                    charges = charges + 90.00;
                    services_colouring = true;
                }
                else {
                    charges = charges - 90.00;
                    services_colouring = false;
                }
                Services_Charges.value = charges.toFixed(2);
            }
            function CalculateRebonding(obj) {
                if (obj.checked) {
                    charges = charges + 150.00;
                    services_rebonding = true;
                }
                else {
                    charges = charges - 150.00;
                    services_rebonding = false;
                }
                Services_Charges.value = charges.toFixed(2);
            }
            function CalculateScalp(obj) {
                if (obj.checked) {
                    charges = charges + 150.00;
                    services_scalp = true;
                }
                else {
                    charges = charges - 150.00;
                    services_scalp = false;
                }
                Services_Charges.value = charges.toFixed(2);
            }
            function CalculateStyling(obj) {
                if (obj.checked) {
                    charges = charges + 60.00;
                    services_styling = true;
                }
                else {
                    charges = charges - 60.00;
                    services_styling = false;
                }
                Services_Charges.value = charges.toFixed(2);
            }
            function CalculatePerm(obj) {
                if (obj.checked) {
                    charges = charges + 100.00;
                    services_perm = true;
                }
                else {
                    charges = charges - 100.00;
                    services_perm = false;
                }
                Services_Charges.value = charges.toFixed(2);
            }
    </script>
}


@if (ViewBag.ErrorMessage != null)
{
    <script>alert("@ViewBag.ErrorMessage"); window.location = '/Appointment/ViewAll';</script>
}





