@model BarberSOnline.Models.AppointmentModel
@using BarberSOnline.Areas.Identity.Data
@inject SignInManager<BarberSOnlineUser> SignInManager
@{
    ViewData["Title"] = "Cancel";
    if (SignInManager.IsSignedIn(User))
    {
        if (User.IsInRole("Admin"))
        {
            Layout = "/Views/Shared/_LayoutAdmin.cshtml";
        }
        else if (User.IsInRole("Barber"))
        {
            Layout = "/Views/Shared/_LayoutBarber.cshtml";
        }
        else if (User.IsInRole("User"))
        {
            Layout = "/Views/Shared/_LayoutUser.cshtml";
        }
    }
}

<h1>Cancel Appointment</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Cancel">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="ID" class="control-label"></label>
                <input asp-for="ID" class="form-control" readonly />
                <span asp-validation-for="ID" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="UserEmail" class="control-label"></label>
                <input asp-for="UserEmail" class="form-control" readonly />
                <span asp-validation-for="UserEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" readonly />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Services" class="control-label"></label>
                <input asp-for="Services" class="form-control" readonly />
                <span asp-validation-for="Services" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Charges" class="control-label"></label>
                <input asp-for="Charges" class="form-control" readonly />
                <span asp-validation-for="Charges" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment_Date" class="control-label"></label>
                <input asp-for="Appointment_Date" class="form-control" readonly />
                <span asp-validation-for="Appointment_Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment_Status" class="control-label"></label>
                <input asp-for="Appointment_Status" class="form-control" readonly />
                <span asp-validation-for="Appointment_Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User_Booked_Date" class="control-label"></label>
                <input asp-for="User_Booked_Date" class="form-control" readonly />
                <span asp-validation-for="User_Booked_Date" class="text-danger"></span>
            </div>
            @if (Model.Appointment_Status == "Booked" || Model.Appointment_Status == "Approved" || Model.Appointment_Status == "Confirmed")
            {
                if (Model.Appointment_Status == "Approved")
                {
                    <div class="form-group">
                        <label asp-for="Remark" class="control-label">Barber In-Charged</label>
                        <input asp-for="Remark" class="form-control" readonly />
                        <span asp-validation-for="Remark" class="text-danger"></span>
                    </div>
                }

                if (Model.Appointment_Status == "Confirmed")
                {
                    <div class="form-group">
                        <label asp-for="User_Confirmed_Date" class="control-label"></label>
                        <input asp-for="User_Confirmed_Date" class="form-control" readonly />
                        <span asp-validation-for="User_Confirmed_Date" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Barber_Approved_Date" class="control-label"></label>
                        <input asp-for="Barber_Approved_Date" class="form-control" readonly />
                        <span asp-validation-for="Barber_Approved_Date" class="text-danger"></span>
                    </div>
                }

                if (User.IsInRole("Admin"))
                {
                    <div class="form-group">
                        <label asp-for="Admin_Cancelled_Reason" class="control-label"></label>
                        <input asp-for="Admin_Cancelled_Reason" class="form-control" />
                        <span asp-validation-for="Admin_Cancelled_Reason" class="text-danger"></span>
                    </div>
                }
                else if (User.IsInRole("Barber"))
                {
                    <div class="form-group">
                        <label asp-for="Barber_Cancelled_Reason" class="control-label">Cancellation Reason</label>
                        <input asp-for="Barber_Cancelled_Reason" class="form-control" />
                        <span asp-validation-for="Barber_Cancelled_Reason" class="text-danger"></span>
                    </div>
                }
                else if (User.IsInRole("User"))
                {
                    <div class="form-group">
                        <label asp-for="User_Cancelled_Reason" class="control-label">Cancellation Reason</label>
                        <input asp-for="User_Cancelled_Reason" class="form-control" />
                        <span asp-validation-for="User_Cancelled_Reason" class="text-danger"></span>
                    </div>
                }
            }
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
@if (ViewBag.ErrorMessage != null)
{
    if (User.IsInRole("Admin") || User.IsInRole("Barber"))
    {
        <script>alert("@ViewBag.ErrorMessage"); window.location = '/Appointment/ViewAll';</script>
    }
    else if (User.IsInRole("User"))
    {
        <script>alert("@ViewBag.ErrorMessage"); window.location = '/Appointment/UserAppointment';</script>
    }
}
