@model BarberSOnline.Models.AppointmentModel
@using BarberSOnline.Areas.Identity.Data
@inject SignInManager<BarberSOnlineUser> SignInManager

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>AppointmentModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ID" class="control-label"></label>
                <input asp-for="ID" class="form-control" />
                <span asp-validation-for="ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserEmail" class="control-label"></label>
                <input asp-for="UserEmail" class="form-control" />
                <span asp-validation-for="UserEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Services" class="control-label"></label>
                <input asp-for="Services" class="form-control" />
                <span asp-validation-for="Services" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Charges" class="control-label"></label>
                <input asp-for="Charges" class="form-control" />
                <span asp-validation-for="Charges" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment_Date" class="control-label"></label>
                <input asp-for="Appointment_Date" class="form-control" />
                <span asp-validation-for="Appointment_Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment_Status" class="control-label"></label>
                <input asp-for="Appointment_Status" class="form-control" />
                <span asp-validation-for="Appointment_Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Remark" class="control-label"></label>
                <input asp-for="Remark" class="form-control" />
                <span asp-validation-for="Remark" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User_Booked_Date" class="control-label"></label>
                <input asp-for="User_Booked_Date" class="form-control" />
                <span asp-validation-for="User_Booked_Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User_Confirmed_Date" class="control-label"></label>
                <input asp-for="User_Confirmed_Date" class="form-control" />
                <span asp-validation-for="User_Confirmed_Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User_Cancelled_Reason" class="control-label"></label>
                <input asp-for="User_Cancelled_Reason" class="form-control" />
                <span asp-validation-for="User_Cancelled_Reason" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Barber_Confirmed_Date" class="control-label"></label>
                <input asp-for="Barber_Confirmed_Date" class="form-control" />
                <span asp-validation-for="Barber_Confirmed_Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Barber_Check_In_Date" class="control-label"></label>
                <input asp-for="Barber_Check_In_Date" class="form-control" />
                <span asp-validation-for="Barber_Check_In_Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Barber_Cancelled_Reason" class="control-label"></label>
                <input asp-for="Barber_Cancelled_Reason" class="form-control" />
                <span asp-validation-for="Barber_Cancelled_Reason" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdminEmail" class="control-label"></label>
                <input asp-for="AdminEmail" class="form-control" />
                <span asp-validation-for="AdminEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Admin_Cancelled_Reason" class="control-label"></label>
                <input asp-for="Admin_Cancelled_Reason" class="form-control" />
                <span asp-validation-for="Admin_Cancelled_Reason" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @{
        if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
        {
            <a asp-action="ViewAll">Back to List</a>
        }
        else if (SignInManager.IsSignedIn(User) && User.IsInRole("Barber"))
        {
            <a asp-action="ViewAll">Back to List</a>
        }
        else if (SignInManager.IsSignedIn(User) && User.IsInRole("User"))
        {
            <a asp-action="UserAppointment">Back to List</a>
        }
    }
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
