@model IEnumerable<string>
@using BarberSOnline.Areas.Identity.Data
@inject SignInManager<BarberSOnlineUser> SignInManager
@{
    ViewData["Title"] = "ProcessMsgResult";
    if (SignInManager.IsSignedIn(User))
    {
        if (User.IsInRole("Admin"))
        {
            Layout = "/Views/Shared/_LayoutAdmin.cshtml";
        }
        else if (User.IsInRole("Barber"))
        {
            Layout = "/Views/Shared/_LayoutBarber.cshtml";
        }
    }
}

    <div class="jumbotron" style="padding-left:25px; padding-right:25px; margin-top:-20px;">
        <h1>Queue Messages of User's Requested Appointment</h1>

        @foreach (var v in Model)
        {
            <li>@v</li>
            <br />
        }
        <a asp-action="ViewAll" class="btn btn-primary" style="width:auto">Ok</a>
    </div>