@model string

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}

    <div class="container" style="padding-left:15px; padding-right:15px;">
        <h1>Create Role</h1>
        <hr />
        <div class="row">
            <div class="col-md-4">

                <div asp-validation-summary="All" class="text-danger"></div>
                <form asp-action="Create" method="post">
                    <div class="form-group">
                        <label for="name" class="control-label"></label>
                        <input name="name" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                        <a asp-action="Index" class="btn btn-primary" style="width:auto">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
