<div class="jumbotron" style="padding-left:25px; padding-right:25px; margin-top:-20px;">
    <center><h2>Customer's MySejatera Report</h2></center>
</div>



@*loops through all files and displays three items:
    - The Image (159x159) - [Set in .thumb css class]
    - A delete icon (30X30) - [Set in .deleteDiv css class] (~/Images/deleteImage.png) that calls deleteImage JS function
    - A DeleteAll button if there are any items that calls the DeleteAll controller Action*@
@if (Model != null && Model.Count > 0)
{
    foreach (var item in Model)
    {
        <div class="imageBlock" style="padding-left:25px;">
            <a href="@item" target="_blank"><img class="thumb" src="@item" alt="images" /></a><br />
            <div class="deleteDiv"><img class="deleteIcon" src="~/img/Images/deleteImage.png" title="Delete Image" onclick="deleteImage('@item');" /></div>
        </div>
    }

    using (Html.BeginForm("DeleteAll", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
<center> <div class="fileUpload btn btn-danger"><span>Delete All Files</span><input type="submit" name="deleteAll" class="upload" /></div></center>
    }
}
<script>
    //Calls async Task<ActionResult> DeleteImage(string name) in the HomeController and Refreshes the page
    function deleteImage(item) {
        var url = "/Admin/DeleteImage";
        $.post(url, { FileUri: item }, function (data) {
            window.location.href = "/Admin/MySejateraReport";
        });
    }

</script>
