@model BarberSOnline.Models.TryAppointment

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutBarber.cshtml";
}

<h1>Create</h1>

<h4>TryAppointment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserEmail" class="control-label"></label>
                <input asp-for="UserEmail" class="form-control" value="@ViewBag.UserId" disabled/>
                <span asp-validation-for="UserEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" value="Booked" disabled/>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User_Confirmed_Date" class="control-label"></label>
                <input asp-for="User_Confirmed_Date" class="form-control" />
                <span asp-validation-for="User_Confirmed_Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
