@{
    ViewData["Title"] = "Home Page";
}

    <div class="slider_area" style="margin-top:-18px; width:1430px; margin-left:-200px">
        <div class="single_slider d-flex align-items-center justify-content-center slider_bg_1 overlay2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider_text text-center">
                            <img src="img/banner/barber_text.png" alt="">
                            <h3>
                                BarberShop Online <br>
                                Is Your Chioce
                            </h3>
                            <p>Professional Care</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- about_area_start -->
<div class="about_area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6">
                <div class="about_thumb">
                    <img src="img/about/about_lft.png" alt="">
                    <div class="opening_hour text-center">
                        <i class="flaticon-clock"></i>
                        <h3>Opening Hour</h3>
                        <p>
                            Mon-Sun <br /> (10.00 A.M - 10.00 P.M)
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="about_info">
                    <div class="section_title mb-20px">
                        <span>About Us</span>
                        <h3>
                            New In <br>
                            Fashion Stylish <br>
                            Barber Shop
                        </h3>
                    </div>
                    <p>
                        Inspires employees and organizations to support causes they care  <br>
                        about. We do this to bring more resources to the nonprofits that are  <br>
                        changing our world.
                    </p>
                    <a class="boxed-btn3" asp-area="" asp-controller="Home" asp-action="About">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- about_area_end -->
<div class="service_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title2 text-center mb-90">
                    <i class="flaticon-scissors"></i>
                    <h3>our service</h3>
                </div>
            </div>
        </div>
        <div class="white_bg_pos" style="height:450px">
            <div class="row">
                <div class="col-xl-6">
                    <div class="single_service d-flex justify-content-between align-items-center">
                        <div class="service_inner d-flex align-items-center">
                            <span>Women's Haircut</span>
                        </div>
                        <p>………………………..RM 30 Nett</p>
                    </div>
                    <div class="single_service d-flex justify-content-between align-items-center">
                        <div class="service_inner d-flex align-items-center">
                            <span>Men's Haircut</span>
                        </div>
                        <p>………………………..RM 15 Nett</p>
                    </div>
                    <div class="single_service d-flex justify-content-between align-items-center">
                        <div class="service_inner d-flex align-items-center">
                            <span>Children's Haircut</span>
                        </div>
                        <p>………………………..RM 15 Nett</p>
                    </div>
                    <div class="single_service d-flex justify-content-between align-items-center">
                        <div class="service_inner d-flex align-items-center">
                            <span>Women's Wash & Cut</span>
                        </div>
                        <p>………………………..RM 45 Nett</p>
                    </div>
                    <div class="single_service d-flex justify-content-between align-items-center">
                        <div class="service_inner d-flex align-items-center">
                            <span>Men's Wash & Cut</span>
                        </div>
                        <p>………………………..RM 30 Nett</p>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="single_service d-flex justify-content-between align-items-center">
                        <div class="service_inner d-flex align-items-center">
                            <span>Colour</span>
                        </div>
                        <p>……………………….. RM90 Nett</p>
                    </div>
                    <div class="single_service d-flex justify-content-between align-items-center">
                        <div class="service_inner d-flex align-items-center">
                            <span>Rebonding</span>
                        </div>
                        <p>……………………….. RM 150 Nett</p>
                    </div>
                    <div class="single_service d-flex justify-content-between align-items-center">
                        <div class="service_inner d-flex align-items-center">
                            <span>Scalp Treatment</span>
                        </div>
                        <p>………………………..RM 150 Nett</p>
                    </div>
                    <div class="single_service d-flex justify-content-between align-items-center">
                        <div class="service_inner d-flex align-items-center">
                            <span>Styling</span>
                        </div>
                        <p>………………………..RM 60 Nett</p>
                    </div>
                    <div class="single_service d-flex justify-content-between align-items-center">
                        <div class="service_inner d-flex align-items-center">
                            <span>Perm</span>
                        </div>
                        <p>………………………..RM 100 Nett</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- covid notice -->
<div class="video_area" style="margin-top:100px;">
    <div class="container-fluid p-0">
        <div class="row align-items-center no-gutters">
            <div class="col-xl-6 col-lg-6">
                <div class="video_info">
                    <div class="about_info">
                        <div class="section_title mb-20px">
                            <span>Covid-19 Annoucement</span>
                            <h3>
                                New Business Model<br>
                                Get Everything Online
                            </h3>
                        </div>
                        <p>
                            Inspires employees and organizations to support causes they care <br>
                            about. We do this to bring more resources to the nonprofits that are <br>
                            changing our world.
                        </p>
                        <a class="boxed-btn3" id="login" asp-area="Identity" asp-page="/Account/Login">Make Appointment</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="video_thumb">
                    <div class="video_thumb_inner">
                        <img src="img/covid.jpg" alt="" style="height:430px; ">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- covid_notice_end -->
<!-- cutter_muster_start -->
<div class="cutter_muster" style="margin-top:-100px">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title2 text-center mb-90">
                    <i class="flaticon-scissors"></i>
                    <h3>Our Cutter Masters</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-md-6 col-lg-3">
                <div class="single_master">
                    <div class="thumb">
                        <img src="img/team/1.png" alt="">
                        <div class="social_link">
                            <a href="#"><i class="fa fa-envelope"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="master_name text-center">
                        <h3>Macau Wilium</h3>
                        <p>Massage Master</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-lg-3">
                <div class="single_master">
                    <div class="thumb">
                        <img src="img/team/2.png" alt="">
                        <div class="social_link">
                            <a href="#"><i class="fa fa-envelope"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="master_name text-center">
                        <h3>Dan Jacky</h3>
                        <p>Mens Cut</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-lg-3">
                <div class="single_master">
                    <div class="thumb">
                        <img src="img/team/3.png" alt="">
                        <div class="social_link">
                            <a href="#"><i class="fa fa-envelope"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="master_name text-center">
                        <h3>Luka Luka</h3>
                        <p>Mens Cut</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-lg-3">
                <div class="single_master">
                    <div class="thumb">
                        <img src="img/team/4.png" alt="">
                        <div class="social_link">
                            <a href="#"><i class="fa fa-envelope"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="master_name text-center">
                        <h3>Rona Dana</h3>
                        <p>Ladies Cut</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
