@inject SignInManager<BarberSOnlineUser> SignInManager
@{
    if (SignInManager.IsSignedIn(User) && User.IsInRole("User"))
    {

        Layout = "/Views/Shared/_LayoutUser.cshtml";
    }
    else if (SignInManager.IsSignedIn(User) && User.IsInRole("Barber"))
    {
        Layout = "/Views/Shared/_LayoutBarber.cshtml";
    }
    else
    {
        Layout = "/Views/Shared/_LayoutAdmin.cshtml";
    }
}

    <div class="controller" style="padding-left:15px; padding-right:15px; margin-bottom:100px">
        <h2>Manage your account</h2>

        <div>
            <h4>Change your account settings</h4>
            <hr />
            <div class="row">
                <div class="col-md-3">
                    <partial name="_ManageNav" />
                </div>
                <div class="col-md-9">
                    @RenderBody()
                </div>
            </div>
        </div>

        @section Scripts {
            @RenderSection("Scripts", required: false)
        }
    </div>