@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>\
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<div class="form-gap"></div>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="card">
                <div class="panel-body">
                    <div class="card-body">
                        <center><h3><i class="fa fa-lock fa-4x"></i></h3></center>
                        <h2 class="text-center">Forgot Password?</h2>
                        <p>You can reset your password here.</p>
                        <div class="panel-body">

                            <form class="form" method="post">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group mb-3"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                                        <input asp-for="Input.Email" placeholder="Email" form-control" />
                                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit"class="btn btn-lg btn-primary btn-block" >Submit</button>
                                </div>

                                <input type="hidden" class="hide" name="token" id="token" value="">
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<style>
    .form-gap {
        padding-top: 70px;
    }
  
</style>