@model BarberSOnline.Models.FeedbackModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h1>Create</h1>

<h4>Feedback</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" value="@ViewBag.UserId" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Feedback Title</label>
                <select class="form-control" id="PartitionKey" name="PartitionKey">
                    <option>Barber</option>
                    <option>Experience</option>
                    <option>Environment</option>
                </select>
                <span asp-validation-for="PartitionKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FeedbackContent" class="control-label"></label>
                <input asp-for="FeedbackContent" class="form-control" />
                <span asp-validation-for="FeedbackContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rating" class="control-label"></label>
                <input asp-for="Rating" class="form-control" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
